In [1]:
import numpy as np
import pandas as pd

In [5]:
# read in headers file by chunks of 100000 to conserve memory
# https://stackoverflow.com/questions/25962114/how-to-read-a-6-gb-csv-file-with-pandas
tp = pd.read_csv('enwiki_20161001_headings_2.tsv', sep='\t', header=0, dtype={'page_id': np.int32, 'page_title': object, 'page_ns': np.int16, 'heading_level': np.int8, 'heading_text': object}, error_bad_lines=False)

b'Skipping line 9014122: expected 5 fields, saw 8\n'
b'Skipping line 24159274: expected 5 fields, saw 8\n'

In [6]:
tp.head()

,page_id,page_title,page_ns,heading_level,heading_text
0,3046517,Articles for deletion/Domotic maid,4,3,[[Domotic maid]]
1,3046527,Bernard Fisher,0,2,People
2,3046527,Bernard Fisher,0,2,Other
3,3046529,Gunpowder Incident,0,2,Background
4,3046529,Gunpowder Incident,0,2,Removing the gunpowder

In [7]:
# create a new dataframe of only rows where page_ns == 0
en_DF = tp[tp['page_ns'] == 0]

In [8]:
en_DF.head()

   page_id          page_title  page_ns  heading_level            heading_text
1  3046527      Bernard Fisher        0              2                  People
2  3046527      Bernard Fisher        0              2                   Other
3  3046529  Gunpowder Incident        0              2              Background
4  3046529  Gunpowder Incident        0              2  Removing the gunpowder
5  3046529  Gunpowder Incident        0              2               Aftermath

In [9]:
en_DF.page_ns.unique()

array([0])

In [10]:
# determine number of unique articles
len(en_DF.page_title.unique())

4925071

In [11]:
# remove leading and trailing whitespace from heading_text column
en_DF['heading_text'] = pd.core.strings.str_strip(en_DF['heading_text'])

//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [12]:
en_DF.head()

   page_id          page_title  page_ns  heading_level            heading_text
1  3046527      Bernard Fisher        0              2                  People
2  3046527      Bernard Fisher        0              2                   Other
3  3046529  Gunpowder Incident        0              2              Background
4  3046529  Gunpowder Incident        0              2  Removing the gunpowder
5  3046529  Gunpowder Incident        0              2               Aftermath

In [14]:
# groupby heading_text and count the number of unique page_titles each heading appears in
# sort in descencing order
# this returns a pandas series object
article_count = en_DF.groupby('heading_text')['page_title'].apply(lambda x: len(x.unique())).sort_values(ascending=False)

In [15]:
# turn pandas series object into pandas dataframe
en_article_count_DF = pd.DataFrame({'section_title':article_count.index, 'number_of_articles':article_count.values})

In [16]:
en_article_count_DF.head()

   number_of_articles   section_title
0             4100059      References
1             2328065  External links
2             1128337        See also
3              530148         History
4              281307           Notes

In [17]:
# add a column for the percentage of articles that header appears in
en_article_count_DF['article_percentage'] = (en_article_count_DF['number_of_articles']/4925071)*100

In [18]:
# set pandas options to display 100 rows
# round percentage to 2 decimal places and show top 100 results
pd.options.display.max_rows = 100
en_article_count_DF.round({'article_percentage': 2}).head(100)

    number_of_articles             section_title  article_percentage
0              4100059                References               83.25
1              2328065            External links               47.27
2              1128337                  See also               22.91
3               530148                   History               10.76
4               281307                     Notes                5.71
5               174740                    Career                3.55
6               151578                 Biography                3.08
7               147026           Further reading                2.99
8               144583             Track listing                2.94
9               121110              Bibliography                2.46
10              113754                   Sources                2.31
11              108846                Early life                2.21
12              108499                      Cast                2.20
13              105902                 Geography                2.15
14               97694             Personal life                1.98
15               94080                Background                1.91
16               93946                      Plot                1.91
17               85999                 Reception                1.75
18               80119               Description                1.63
19               78811               Discography                1.60
20               77209              Demographics                1.57
21               76295                    Awards                1.55
22               74899                 Personnel                1.52
23               62896                 Education                1.28
24               58080                   Results                1.18
25               56135               Filmography                1.14
26               51806                      Life                1.05
27               51614                   Honours                1.05
28               48139                Production                0.98
29               47449                     Works                0.96
30               44184                   Gallery                0.90
31               38797                  Overview                0.79
32               38288                   Singles                0.78
33               36674                 Footnotes                0.74
34               35623                     Death                0.72
35               33724                    Charts                0.68
36               32559              Distribution                0.66
37               29999                Population                0.61
38               29725              Publications                0.60
39               29411                    Legacy                0.60
40               29077                    Family                0.59
41               26719                     Music                0.54
42               26430               Club career                0.54
43               26267                   Species                0.53
44               26199                Television                0.53
45               26184  Early life and education                0.53
46               26155                    Events                0.53
47               25900                     Final                0.53
48               25569                     Books                0.52
49               25180                    Albums                0.51
50               24973                   Economy                0.51
51               24881        Critical reception                0.51
52               24786               Early years                0.50
53               24306                  Location                0.49
54               24255      International career                0.49
55               23584                  Schedule                0.48
56               23505       Professional career                0.48
57               22584         Career statistics                0.46
58               22018            Notable people                0.45
59               21024      Notes and references                0.43
60               20968                 Etymology                0.43
61               20967                  Synopsis                0.43
62               20825            Playing career                0.42
63               20597         Chart performance                0.42
64               19435                   Climate                0.39
65               19410               Development                0.39
66               19308            Transportation                0.39
67               19294          Political career                0.39
68               18722                  Politics                0.38
69               18673                     Other                0.38
70               18258                   Release                0.37
71               18188                      Film                0.37
72               18078           Life and career                0.37
73               17962                 Aftermath                0.36
74               17904                    People                0.36
75               17440                    Deaths                0.35
76               17249                Soundtrack                0.35
77               17226              Early career                0.35
78               16986                 Citations                0.34
79               16970                 Transport                0.34
80               16793               Music video                0.34
81               15946                   Members                0.32
82               15927    Awards and nominations                0.32
83               15924                    Births                0.32
84               15675                      Club                0.32
85               15545      Selected filmography                0.32
86               15376                Statistics                0.31
87               15360        In popular culture                0.31
88               15203                  Episodes                0.31
89               15185                  Gameplay                0.31
90               15166                Literature                0.31
91               15104              Plot summary                0.31
92               15053                Characters                0.31
93               15041            Regular season                0.31
94               14625                     Seeds                0.30
95               14410                    Places                0.29
96               14232                    Sports                0.29
97               14225            Notable alumni                0.29
98               13995                    Roster                0.28
99               13721           Release history                0.28